<fieldset id="ollama">
    <legend>Ollama:</legend>

    <!-- https://ollama.com/library -->
    <div class="form-group">
        <div class="full-description" data-l10n-ref="options.ollama.description"></div>
    </div>

    <div class="form-group">
        <label for="ollamaServiceUrl" data-l10n-ref="options.ollama.serviceUrl">&nbsp;</label>
        <input id="ollamaServiceUrl" type="input" placeholder="http://localhost:11434" data-required>
        <div class="description" data-l10n-ref="options.ollama.serviceUrl.description"></div>
    </div>

    <div class="form-group">
        <label for="ollamaModel" data-l10n-ref="options.ollama.model">&nbsp;</label>
        <select id="ollamaModel" data-required></select>
        <button id="ollamaListModel" data-l10n-ref="options.ollama.listModelsButton">&nbsp;</button>

        <div class="description ollama-error-api" data-l10n-ref="options.ollama.errorApi"></div>
        <div class="description ollama-warning-no-model" data-l10n-ref="options.ollama.warningNoModel"></div>
    </div>

    <div class="form-group">
        <label for="ollamaReasoningEffort" data-l10n-ref="options.ollama.reasoningEffort">&nbsp;</label>
        <select id="ollamaReasoningEffort" data-required>
            <option selected value="default" data-l10n-ref="options.ollama.reasoningEffort.default"></option>
            <option value="none" data-l10n-ref="options.ollama.reasoningEffort.none"></option>
            <option value="low" data-l10n-ref="options.ollama.reasoningEffort.low"></option>
            <option value="medium" data-l10n-ref="options.ollama.reasoningEffort.medium"></option>
            <option value="high" data-l10n-ref="options.ollama.reasoningEffort.high"></option>
            <option value="max" data-l10n-ref="options.ollama.reasoningEffort.max"></option>
        </select>
        <div class="description" data-l10n-ref="options.ollama.reasoningEffort.description"></div>
    </div>
</fieldset>
