<fieldset id="google">
    <legend>Google Gemini:</legend>

    <div class="form-group">
        <label for="googleApiKey" data-l10n-ref="options.google.apiKey">&nbsp;</label>
        <input id="googleApiKey" is="password-toggle" data-required>
        <div class="description" data-l10n-ref="options.google.apiKey.description"></div>
    </div>

    <!-- https://ai.google.dev/gemini-api/docs/models/gemini#model-variations -->
    <div class="form-group">
        <label for="googleModel" data-l10n-ref="options.google.model">&nbsp;</label>
        <select id="googleModel" data-required>
            <option value="gemini-3.8-flash">Gemini 3.8 Flash</option>
            <option value="gemini-3.7-flash">Gemini 3.7 Flash</option>
            <option value="gemini-3.6-flash">Gemini 3.6 Flash</option>
            <option value="gemini-3.5-flash">Gemini 3.5 Flash</option>
            <option selected value="gemini-3.5-flash-lite">Gemini 3.5 Flash Lite</option>
            <option value="gemini-3.1-pro">Gemini 3.1 Pro</option>
        </select>
    </div>

    <!-- https://ai.google.dev/gemini-api/docs/thinking -->
    <div class="form-group">
        <label for="googleReasoningEffort" data-l10n-ref="options.google.reasoningEffort">&nbsp;</label>
        <select id="googleReasoningEffort" data-required>
            <option selected value="default" data-l10n-ref="options.reasoning.default"></option>
            <option value="off" data-l10n-ref="options.google.reasoningEffort.off"></option>
            <option value="low" data-l10n-ref="options.google.reasoningEffort.low"></option>
            <option value="medium" data-l10n-ref="options.google.reasoningEffort.medium"></option>
            <option value="high" data-l10n-ref="options.google.reasoningEffort.high"></option>
        </select>
        <div class="description" data-l10n-ref="options.google.reasoningEffort.description"></div>
    </div>
</fieldset>
